%footer#footer
  .footer-inner
    .footer-inner__logo
      = image_tag 'logo_black.png'
    - unless user_signed_in?
      = link_to new_user_registration_path do
        .footer-inner__menu_signup
          新規登録
      = link_to new_user_session_path do
        .footer-inner__menu_signin
          ログイン
