= render 'shared/owner_dashboard_header'

%section.dashboard-content
  .dashboard-content-inner
    .dashboard-content-inner-inner
      .dashboard-content__list
        .dashboard-content__list-title
          未承認の予約リクエスト
        .dashboard-content__list-message
          未承認の予約リクエストがn件あります。

      .dashboard-content__list
        .dashboard-content__list-title
          入金待ちの予約リクエスト
        .dashboard-content__list-message
          入金待ちの予約リクエストがn件あります。

      .dashboard-content__list
        .dashboard-content__list-title
          予約完了
        .dashboard-content__list-message
          完了した予約がn件あります。

= render 'shared/owner_dashboard_footer'
